   {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Mahdieh .">
    <meta name="author" content="Mahdieh">
    <title>Mahdieh</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href="{% static 'css/meyawo.css' %}">
    <link rel="icon" type="image/png" href="{%  static 'imgs/logo.png' %}"> </link>